
* {     /* on utilise le sélecteur * puis oveflow pour adapter le contenu du container toujours la haut*/
    overflow: auto;
}   

body {
    background-color: white;
    font-family: Arial;
    margin: 0;
    word-wrap: break-word; 
}
/*centrer mon titre recette*/
p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 0px;
    padding: 8px 20px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 20px;    
    }

div.contenu{
    background-color:gray;
    margin: -20px 10px 80px 10px;
    padding: 30px;
    margin-bottom: 500px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2); /*ombre*/
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;    
   
}

p.description{
    text-align: center;
    display: inline-block;
    max-width:  400px; /*pour fixer le texte, l'image lorsqu'il bouge*/

}
/*pour tous ce qui est centrer*/
.centre{
    text-align: center;
    width: 100%;    
}

div.description{
    text-align: center;
}

div.categorie{
    margin-bottom: -20px;
    margin-top: 40px;
 
}
/*pour aligner la iste vers la gauche ou droite*/
*{
    color: black;
    text-align: left;
}

div.separateur{
    width: 100px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

/*on crée une div et une table info*/

div.info{
    position:relative;
}

table.info{
    position:relative;
    bottom: 47px;
    width: 100%;
    color:white;
    background-color:#6C829DC0;
}

table.info td{
    text-align: center;
    font-size: 14px;
    vertical-align: top;
}

table.info th{
    text-align: center;   /*centrer les infos tableaux*/
    font-size: 14px;
    vertical-align: 100%;
}

img.info{
    object-fit: cover;    
}

div.colonne1{
    display: inline-block;
    
}
div.colonne2{
    float: right;
    width: 50%;
    display: inline;
      
    }

}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid black;
    
}
.colonne{
    width: 50%;
    margin-top: auto;
}
div.ingredients p {
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 8px 0px;
    margin-top: 4px;
    margin-bottom: 0;

}

table.prepa p.numero {
    background-color:#6C829DC0;/*couleur de pastille*/
    color: white;
    width: 25px;/*taille de pastille*/
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%; /*pour la pastille ronde*/
    margin: 0;

}

table.prepa td{  /*pour remonter la pastille ronde vers le haut*/
     vertical-align: top;
}

table.prepa td.preparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px; /*pour espacer les elements*/
}   

table.prepa tr{   /*pour stabiliser le taxte lorsque l'on étire l'image*/
    height: 40px;
}

